

<% 3.times do |row| %>
  <div class="table-row">
    <% 3.times do |col| %>
      <span class="table-cell">
        <% if !game[row, col].nil? %>
          <%= game[row, col] %>
        <% else %>
          <%= button_to game.current_symbol, game_moves_path(game), params: { row: row, col: col }, method: :post %>
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>


<%# <i class="bi bi-circle-fill"></i> %>
