<div class="d-flex flex-column align-items-center align-self-center">
  <h1 class="mt-5 pt-5">Tic Tac Toe</h1>

  <p>Play this classic game with another friend</p>
  <form action="/games" method="post">
    <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
    <input class="btn btn-primary btn-custom" type="submit" value="Start new game">
  </form>
</div>
